.container{
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
}
  
.item{
    flex-basis: 25%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 20px;

}
.item-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}