{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="/static/details.css">
{% endblock header %}

{% block content %}

<div class="details">
    <img src="{{detail.image.url}}">
    <h4>{{detail.title}}</h4>
    <p>${{detail.price}}</p>
    <p class="disc">{{detail.description}}</p>
    <hr style="width: 100%;">
    <div>
        <button style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;"> <a href="{% url 'cart' detail.id %}" style="text-decoration: none; color:white;"> Add to cart</a></button>
    </div>
</div>
<h3><a href="{% url 'home' %}" style="color: black;"> &larr; go to previous page</a></h3>

{% endblock %}