{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="/static/home.css">
{% endblock header %}

{% block content %}

{% for category in category %}
<h2 style="text-align: center; color:#1E293B; margin: 20px;" id="{{category}}">Category: {{category.title}}</h2>
<hr style="color: #1E293B;">
<div class="container" style="display: flex; justify-content: space-evenly;">
    {% for i in item %}
    {% if i.category.title == category.title %}
    <div class="item" style=" box-shadow: 4px 4px 2px 2px rgb(161, 159, 159); ">
        <img class="item-img" src="{{i.image.url}}" >
        <h5>{{i.title}}</h5>
        <p>${{i.price}}</p>
        <p>{{i.preview_text}}</p>
        <p><a href="{% url 'detail' i.id %}" style="color: black; ">view details</a></p>
        <button style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;"><a href="{% url 'cart' i.id %}" style="text-decoration: none; color: white;">Add to cart</a></button>
    </div>
    {% endif %}
    {% endfor %}
</div>
<hr>
{% endfor %}

{% endblock %}
