{% extends 'accounts/login.html' %}
{% block header %}
<link rel="stylesheet" href="/static/css/changepassword.css">
{% endblock %}
{% block content %}
<h2 style="margin-top: 100px;">Change Password</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="current-password">Current Password</label>
        <input type="password" name="old_password" id="current-password" required>
    </div>
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" name="new_password1" id="new-password" required>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="new_password2" id="confirm-password" required>
    </div>
    <div class="form-group">
        <button class="btn" type="submit">Change Password</button>
    </div>
    <a href="{% url 'home' %}">Back</a>
</form>
{% endblock %}